html,body{
    font-family: 'Microsoft JhengHei', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;*/
    color: #fff;
    background: #f8f8f8;
}
.war{
	width: 90%;
	/*min-width: 1000px;*/
    margin: 0 auto;
}

/*header-----------------------------------------------------------------*/
header{
    z-index: 1000;
    height: 50px;
    width: 100%;
    background: #303030;
    position: fixed;
    top: 0;
    left: 0;
}
.topBar{
	/*width: 1000px;*/
    position: relative;
}
nav{
	position: absolute;
	top: 0px;
	right: 0px;
}
.nav_ul{
	overflow: hidden;
}
.nav_ul li{
	float: left;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	font-size: 14px;
	cursor: pointer;
	color: #eee;
}
.nav_ul li:hover{
	color: #22f2c8;
}

/*content-----------------------------------------------------------------------------------------*/
.content{
	margin-top: 70px;
	height: auto;
	width: 100%;
}
.content_war{
    margin: 20px auto;
    color: #666;
}
.content_list{
	height: auto;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 5px #ccc;
}
.content_list_title{
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0;
	border-bottom: 1px solid #22F2C8;
}
.content_list_main{
	height: auto;
	padding: 10px 0;
	overflow: hidden;
}
.main_classify{
	height: auto;
	overflow: hidden;
	line-height: 22px;
}
.main_classify_name{
	height: 22px;
	margin: 10px 0;
	float: left;
	width: 150px;
	color: #22F2C8;
	background: url('../images/bg.png') no-repeat;
	text-align: center;
	border-radius: 3px 0 0 3px;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}
.main_classify_war{
	overflow: hidden;
	padding: 10px;
	font-size: 14px;
}
.main_classify_war:hover{
	background-color: #eee;
}
.main_classify_list{
	color: #666;
	padding: 0 10px;
	float: left;
}
.main_classify_list:hover{
	color: #22F2C8;
}
.link_me{
	width: 25%;
	height: auto;
	float: left;
}
.link_me a{
	display: inline-block;
}

/*footer---------------------------------------------------------------------------------------*/
#footer{
	background: #303030;
	height: auto;
	/*min-width: 1000px;*/
}
.footer_war{
	padding: 20px 0 0 0;
}
.message{
	text-align: center;
	line-height: 24px;
}
.declare{
	text-align: center;
	color: #22F2C8;
	line-height: 30px;
}
.declare a{
	color: #22F2C8;
}

aside{
	height: 40px;
	width: 40px;
	background: #666 url(../images/backTop.png);
	border-radius: 5px 0 0 5px;
	position: fixed;
	bottom: 20px;
	right: -40px;
	cursor: pointer;
}










